__pycache__
dataset
test_output
test_config
result_config
mixmer_output
mixmer_large_config
data.json
wandb
workspace_sample
af2_msa
all_pdb
analysis
average_protein
casp14
casp15
denovo_cases
enzyme_plame
esm
esmfold_pred
evo
evodiff_msa_aug_hifiad
failure_case
gt_pdb
gt_pdb_dir
msagpt_gt
msagpt_msa_aug_hifiad
openfold
openfold32
plame_msa_exp
post
seq_similarity
shallow_enzymes
TMscore4Python
zero_shot
af2_msa.tar.gz
shallow_enzymes.zip
nohup.out
output.log